.main-footer__bottom-logo
  width: rem(25px)
  height: auto
  display: inline-block
  vertical-align: top

.main-footer__bottom
  .columns
    padding: 0
 
 .main-footer__bottom-left
  margin-top: rem(16px)

.main-footer__bottom-socials
  text-align: center !important

.main-footer__bottom-copyrirght
  display: inline-block
  margin-left: rem(10px)
  color: #74808e

.bottom-socials__item
  &:hover
    transform: scale(1.3)

.bottom-socials__item
  margin-left: rem(15px)
  display: inline-block !important
  &:first-child
    margin-left: 0

.bottom-socials__link
  width: rem(45px)
  height: rem(45px)
  position: relative

.main-footer__bottom .menu > li > a
  padding: 0
  margin-left: 0


.bottom-socials__hexagon
  width: 100%
  height: 100%

.bottom-socials__icon
  position: absolute
  left: 50%
  top: 50%
  width: rem(20px)
  height: rem(20px)
  margin-top: rem(-10px)
  margin-left: rem(-10px)

.made-in
  text-align: right
  margin-top:rem( 16px)

.made-in__name
  color: #74808e
  display: inline-block

.made-in__logo
  margin-right: rem(10px)
  display: inline-block