.callout
  background: transparent
  border none
  margin: 0
  padding: 0

.button.hollow
	text-transform: uppercase
	border-width: 2px
	border-radius: 2px
	border-color: $blue
	color: $blue

.button.hollow:hover, .button.hollow:focus
  border-color: $dark-orange
  color: $dark-orange

.word--upper
  text-transform: uppercase

.title-h2--grey
  color: #74808e !important