
/* Medium only */
@media screen and (max-width: 40em)

	.top-bar .top-bar-left
		width: 100% !important
		text-align: center

	.top-bar-logo
		margin-bottom: rem(25px)
		width: 100%

	.top-bar .menu
		width: 100%

	.top-bar-right
		margin: rem(15px 0)

	.menu-right
		text-align: right

	.block-flat
		padding: 0

	.section-top,.section-services
		padding: rem(40px 0)

	.section-services .title-h2, .section-top .title-h2
		margin-bottom: rem(20px)
	
	.serction-services__article-bottom
		margin-bottom: rem(40px)

	.section-top__article p
		margin-bottom: rem(20px)

	.section-services__our-services .title-h2
		margin-bottom: 0

	.serction-services__list-services
		margin-top: rem(55px)

	.section-works__title
		right: 50%
		margin-right: -8rem
		
	.section-works .title-h2
		padding: 4px
		font-size: 1.3rem

	.section-works__title .block-skew1
		border-left: 1.9rem solid transparent
		border-bottom: 2.3rem solid #367fdb

	.section-works__title .block-skew2
		border-right: 1.9rem solid transparent
		border-top: 2.3rem solid #367fdb

	.section-works__title .block-skew3
		width: rem(22px);
		height: rem(37px);
		transform: skew(-38deg, 0deg);
		margin-right: -3px;

	.section-works .column-block
		text-align: center

	.main-footer__bottom-socials
		width: 100%

	.bottom-socials__link
		margin-right: rem(12px)

	.small-right
		text-align: right
		float: right
		margin-bottom: rem(25px)
		margin-right: rem(30px)
		
	.made-in
		text-align: right
		margin-right: rem(30px)
		margin-top: rem(25px);

/* Small only */
@media screen and (max-width: 39.9375em)
	.small-hide
		display none
@media only screen and (max-width : rem(320px))
	
	.top-bar-left
		text-align: center
	
	.top-bar .menu
			width: 100%
			display: inline-block

	.menu-right
		text-align: center

	.small-hide
		display none

	.section-works__title
		margin-right: -6.3rem !important

	.section-works .title-h2
		padding: 0
		font-size: 1.2rem

	.section-works__title .block-skew1
		border-left: 1.2rem solid transparent
		border-bottom: 1.6rem solid #367fdb

	.section-works__title .block-skew2
		border-right: 1.2rem solid transparent
		border-top: 1.6rem solid #367fdb

	.section-works__title .block-skew3
		width: rem(20px) 
		height: rem(26px )
		transform: skew(-38deg, 0deg)
		margin-right: -10px;

	.section-works__title
		margin-right: -6rem

	.main-footer
		padding-top: rem(30px)

	.main-footer__top
		padding: 0

	.small-right
		text-align: left

	.main-footer__bottom .columns
		width: 100%
		margin: 0

	.main-footer__bottom-left
		text-align: center
		margin-top: 0
		margin-bottom: rem(25px)
		.callout 
			display: inline-block

	.main-footer__bottom-socials
		text-align: center
		& li
			display: inline-block
	
	.made-in
		margin-right: 0
		text-align: center